{{page-title "ModalBootstrap"}}

<button type="button" {{on "click" this.showModal}} class="btn btn-primary">Click me for modal manager</button>

<button type="button" {{on "click" this.showAlert}} class="btn btn-primary">Click me for simple browser alert</button>

<ModalsContainer></ModalsContainer>

{{outlet}}